*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utils */
.container{
    width: 80%;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
    margin: 20px 0;
    /* align-items: center; */
}

/* inizio header */
header{
    background-color: orange;
    height: 80px;
    display: flex;
    align-items: center;
}

.col-categories, .col-shop{
    width: 25%;
    height: 50px;
    border: 1px solid black;
}

.col-logo{
    width: 50%;
    height: 50px;
    border: 1px solid black;
}
/* fine header */

/* inizio main */
.col-33{
    width: calc(100% / 3);
    height: 400px;
    border: 1px solid black;
}
/* fine main */

/* inizio footer */
footer{
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-info, .col-social{
    width: 50%;
    height: 50px;
    border: 1px solid white;
}